<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Вход</title>
</head>
<body>
<nav th:replace="~{fragments/common:: nav}"></nav>
<div class="container mt-5">
    <fieldset>
        <legend>Вход</legend>
        <form class="form-signin" th:method="post" th:action="@{/login}">
            <div class="mb-3">
            <p>
                <label class="form-label">Email <input type="text" id="username" name="username" class="form-control" placeholder="Email" required></label>
            </p>
            <p>
                <label class="form-label">Пароль <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required></label>
            </p>
            <button class="btn btn-primary" type="submit">Войти</button>
            </div>
        </form>
    </fieldset>
    <br>
    <a href="/registration">Зарегистрироваться</a>
    <br>
    <a href="/forget-password">Забыли пароль?</a>
</div>
<div th:replace="~{fragments/common:: script}"></div>
</body>
</html>