<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Регистрация</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<nav th:replace="~{fragments/common:: nav}"></nav>
<div class="container mt-5">
<div th:if="${message != null}" th:text="${message}" style="color: red"></div>
<div class="container">
  <form th:action="@{/registration}" th:method="post" th:object="${userDTO}"  enctype="multipart/form-data">
      <div>
      <label class="form-label">Email <input class="form-control" type="email" th:field="*{email}" name="email" placeholder="Введите ваш email" required/></label>
      <div th:if="${#fields.hasErrors()}"
           th:errors="*{email}" style="color:red">Email error
      </div>
      </div>
      <div>
      <label class="form-label">Имя <input class="form-control" type="text" th:field="*{firstName}" name="firstName" placeholder="Введите ваше имя" required/></label>
      <div th:if="${#fields.hasErrors()}"
           th:errors="*{firstName}" style="color:red">Firstname error
      </div>
      </div>
      <div>
      <label class="form-label">Фамилия <input class="form-control" type="text" th:field="*{lastName}" name="lastName" placeholder="Введите вашу фамилию" required/></label>
      <div th:if="${#fields.hasErrors()}"
           th:errors="*{lastName}" style="color:red">Lastname error
      </div>
      </div>
      <div>
      <label class="form-label">Пароль <input class="form-control" type="password" th:field="*{password}" name="password" placeholder="Введите ваш пароль" required/></label>
      <div th:if="${#fields.hasErrors()}"
           th:errors="*{password}" style="color:red">Password error
      </div>
      </div>
      <div>
      <label class="form-label">Повторите пароль <input class="form-control" type="password" th:field="*{password2}" name="password2" placeholder="Повторите ваш пароль" required/></label>
      <div th:if="${#fields.hasErrors()}"
           th:errors="*{password2}" style="color:red">Password error
      </div>
      </div>
      <label class="form-label">Ваша аватарка <input class="form-control" type="file" name="file"></label>
      <div>
          <div class="g-recaptcha" data-sitekey="6LfOCdUcAAAAANXizctctohwqfmYn4Gj0L08tFbo"></div>
      </div>
      <div><input type="submit" class="btn btn-primary" value="Зарегистрироваться"/></div>
  </form>
</div>
</div>
<div th:replace="~{fragments/common:: script}"></div>
</body>
</html>